<div class="container">
  <form #formRef="ngForm" (ngSubmit)="Onsubmit(formRef)" novalidate autocomplete="off">
   <div id="print-section">
    <table class="tbl">
      <tr>
        <td colspan="2">
          <div style="height: 35px;">
            <div class="page-header" style="width: 207px;">
              <span class="page-headertext">ACH Mandate Registration</span>
            </div>
            <div>
              <span class="span-header"></span>
              </div>
          </div>
        </td>
      </tr>
    </table>

    <table class="table" cellPadding="0" cellspacing="0" style="width: 102.5%;">
        <colgroup>
          <col width="20%"/>
          <col width="20%"/>
          <col width="20%"/>
          <col width="20%"/>
          <col width="20%"/>
          <col width="20%"/>
        </colgroup>
        
        <tr>
          <td class="table-head" colspan="6">
            <span style="background-color: antiquewhite;">Investor Details</span>
          </td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">CustomerID</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="number" name="customerID" class="Common_input" id="customerID" placeholder="--customer id--" [(ngModel)]="customerID"  readonly></td>
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">Investor Name</strong></td>
          <td class="tblcol"  *ngIf="customertabledata"><input type="text" class="Common_input" name="investorname" id="Investorid" placeholder="--Investor Name--"[(ngModel)]="customertabledata.investorname"  (keypress)="allowOnlyAlphabets($event)" [disabled]="isLocateMode"  required></td>
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">Mode Of Holding</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type = "text" class = "Common_input" name = "modeofholding" id="mohId" placeholder="--Holder Name--"[(ngModel)]="customertabledata.mode_of_holder"  (keypress)="allowOnlyAlphabets($event)" [disabled]="isLocateMode" required></td>
        </tr>


        <tr>
          <td class="table-head" colspan="6">
            <span style="background-color: antiquewhite;">Bank Details</span>
          </td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">Execute Through POA</strong></td>
          <td class="tblcol" *ngIf="customertabledata" > <input type="checkbox" id="execute_through_poa" name="execute_through_poa"  [checked]="customertabledata.execute_through_poa === 'yes'" (change)="onCheckboxChange($event,'execute_through_poa')"[disabled]="isLocateMode" required/></td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="color: red; background-color:rgb(248, 248, 236);">Bank Name</strong></td>
            <td class="tblcol"*ngIf="customertabledata">
              <select class="Common_input" name="bankname" id="bankid" [(ngModel)]="customertabledata.bankcode" (change)="onBankSelectionChange()" placeholder="--Choose Bank Name--"required>
                <option [ngValue]="null">--Choose Bank Name--</option>
                <option *ngFor="let bank of dropdownBankList" [value]="bank.bankcode">{{ bank.bankname }}</option>
              </select>
            </td>
          
          <td class="Common_color"> <strong style="color: red; background-color: rgb(248, 248, 236);">Account Number</strong></td>
          <td class="tblcol">
            <!-- Show dropdown in Locate or Edit mode -->
            <select *ngIf="customertabledata && (customertabledata.Asflag === 'Locate' || customertabledata.Asflag === 'Edit')"
                    class="Common_input"
                    name="accountnumber"
                    id="accountnumber"
                    [(ngModel)]="customertabledata.accountnumber"
                    (change)="onAccountNumberSelectionChange()"
                    (keypress)="allowOnlyNumbers($event)"
                    required>
              <option [ngValue]="null">--Choose Account Number--</option>
              <option *ngFor="let acc of filteredAccountNumbers" [ngValue]="acc.accountnumber">{{ acc.accountnumber }}</option>
            </select>

            <!-- Show input in New mode -->
            <!-- <div> -->
              <!-- <label for="accountnumberInput" class="tblrow"></label> -->
              <input type="text" class="Common_input" id="accountnumberInput" name="accountnumber" [(ngModel)]="customertabledata.accountnumber" *ngIf="customertabledata && customertabledata.Asflag === 'save'" placeholder="---Account Number---" required />
            <!-- </div> -->
          </td>

          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">Branch Name</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="text" class="Common_input" name="branchname" id="brand" [(ngModel)]="customertabledata.branchname" (keypress)="allowOnlyAlphabets($event)" [disabled]="isLocateMode"  placeholder ="--custom--" required/></td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="color: red;background-color:rgb(248, 248, 236);">Account Type</strong></td>
          <td class="tblcol" *ngIf="customertabledata">
            <select class="Common_input" input type="text" name="accounttype" id="accounttypeid" [(ngModel)]="customertabledata.accounttype" [disabled]="isLocateMode" required>
              <option [ngValue]="null" >--Choose Account Type--</option>
              <option [ngValue]="'savings'" >Savings</option>
              <option [ngValue]="'current'" >Current</option>
              <option [ngValue]="'salary'" >Salary</option>
            </select>
          </td>
          <td class="Common_color"><strong style="color: red;background-color:rgb(248, 248, 236);">Re-enterAccount Number</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="number" class="Common_input" name="re_enteraccountnumber" id="Re-enterAccountid" [(ngModel)]="customertabledata.re_enteraccountnumber"  (keypress)="allowOnlyNumbers($event)" [disabled]="isLocateMode"  placeholder ="--Re-enterAccount Number--" required/></td>
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">MICR Number</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="number" class="Common_input" name="micrnumber" id="micr" [(ngModel)]="customertabledata.micrnumber"placeholder ="--MICR NUmber--" [disabled]="isLocateMode" required></td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="color: red;background-color:rgb(248, 248, 236);">IFSC CODE</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="text" class="Common_input" name="ifsccode" id="ifsc"[(ngModel)]="customertabledata.ifsccode" (keypress)="restrictSpecialChars($event)" [disabled]="isLocateMode" placeholder="--IFSC CODE--" required/></td>
          <td class="Common_color"><strong style="color: red;background-color:rgb(248, 248, 236);">Bank Holder Name</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="text" class="Common_input" name="bankholdername" id="bankholder" [(ngModel)]="customertabledata.bankholdername"  (keypress)="allowOnlyAlphabets($event)" [disabled]="isLocateMode" placeholder="--Holder Name--"required/></td>
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">Bank Holder Name 1</strong></td>
          <td class="tblcol" *ngIf="customertabledata"><input type="text" class="Common_input" name="bankholdername1" id="holder1"[(ngModel)]="customertabledata.bankholdername1"  (keypress)="allowOnlyAlphabets($event)" [disabled]="isLocateMode" placeholder="--Holder Name 1--"/></td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">Bank Holder Name 2</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="text" class="Common_input" name="bankholdername2" id="holder2" [(ngModel)]="customertabledata.bankholdername2"  (keypress)="allowOnlyAlphabets($event)" [disabled]="isLocateMode" placeholder="--Holder Name 2--" /></td>
        </tr>

        <tr>
          <td class="table-head" colspan="6">
            <span style="background-color: antiquewhite;">ACH Mandate Details</span>
          </td>
        </tr>
        <tr class="tblrow">
          <td class="Common_color"><strong style="color: red; background-color:rgb(248, 248, 236);">ACH Amount</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="int" class="Common_input" name="achamount" id="amount" [(ngModel)]="customertabledata.achamount"  (keypress)="allowOnlyNumbers($event)" [disabled]="isLocateMode" placeholder="--Enter Amount--" required/></td>
          <td class="Common_color"><strong style="color: red;background-color:rgb(248, 248, 236);">ACH From Date</strong></td>
            <td class="tblcol" *ngIf="customertabledata" ><input type="date" class="Common_input" name="achfromdate" id="fromdate" [(ngModel)]="customertabledata.achfromdate" [disabled]="isLocateMode" required/>
            </td>
          <td class="Common_color"><strong style="color: red;background-color:rgb(248, 248, 236);">ACH To Date</strong></td>
          <td class="tblcol" *ngIf="customertabledata" ><input type="date" class="Common_input" name="achtodate" id="todate" [(ngModel)]="customertabledata.achtodate" [disabled]="isLocateMode" required/>
          </td>
        </tr>
          <tr class="tblrow">
            <td class="Common_color">Maximum Period</td>
            <td class="tblcol" *ngIf="customertabledata" ><input type="checkbox" name="maximumperiod" id="maximumperiodid" [(ngModel)]="customertabledata.maximumperiod" [disabled]="isLocateMode" (change)=" onMaximumPeriodChange($event)"/></td>
          </tr>
      </table>
   </div>

      <table class="table-1" cellPadding="0" cellspacing="0" style="width: 102.5%;">
        <tr class="tblrow" >
          <td class="tblcol" *ngIf="customertabledata"  style=" padding: 8px;">
            <button type="submit" class="btn1" name="Submit" *ngIf="customertabledata.Asflag === 'save'|| customertabledata.Asflag === 'Edit'" id="Submit" style="background-color: black;color: whitesmoke;">Save</button>
            <button type="button" class="btn1" name="print"  *ngIf="customertabledata.Asflag === 'Locate'" (click)="openExportOptions()" id="print" style="background-color: rgb(10, 10, 10);color:white;">Print</button>
            <button type="button" class="btn1" name="Reset" *ngIf="customertabledata.Asflag === 'save'|| customertabledata.Asflag === 'Edit'" id="Submit" (click)="resetFormToNew() "id="reset" style="background-color: darkgray;color: whitesmoke;">Reset</button>
            <button type="button" class="btn1" name="Back" (click)="goback()" id="Reset" style="background-color: rgb(15, 0, 0);color:white;">Back</button>
          </td>
        </tr>

    </table>
  </form>
</div>