<div class="container">
  <table class="tbl">
    <tr>
      <td colspan="2">
        <div style="height: 35px;">
          <div class="page-header" style="width: 207px;">
            <span class="page-headertext">ACH Mandate Registration</span>
          </div>
          <div>
            <span class="span-header"></span>
            </div>
        </div>
      </td>
    </tr>
  </table>
  
  
  <table class="table"cellspacing="0" cellpadding="0">
    <tr class="radio_row">
      <td colspan="3" style="padding-left: 10px; ">
        <label style="background-color:rgb(248, 248, 236);" > <input type="radio" name="option" value="Locate" [(ngModel)]="selectedFlag" (change)="onFlagChange()"> Locate</label>&nbsp;&nbsp;
        <label style="background-color:rgb(248, 248, 236);"><input type="radio" name="option" value="save" [(ngModel)]="selectedFlag" (change)="onFlagChange()">New</label>&nbsp;&nbsp;
        <label style="background-color:rgb(248, 248, 236);"><input type="radio" name="option" value="Edit" [(ngModel)]="selectedFlag" (change)="onFlagChange()">Edit</label>
      </td>
    </tr>

    <tr class="tblrow">
      <td class="Common_color"><strong style="background-color:rgb(248, 248, 236);">CustomerID</strong></td>
      <td class="tblcol"><input type="int" autocomplete="off" id="customerId" [(ngModel)]="customerId" [ngModelOptions]="{standalone: true}" placeholder="Enter CustomerID"></td>
      <td class="tblcol"><button type="button"(click)="Go()"  style="background-color: black;color: whitesmoke;">Go</button></td>
    </tr>
  </table>
</div>


  
